body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 130px); 
  grid-template-rows: repeat(4, 130px); 
  border: 2px solid #696868; 
}

.cell {
  background-color: #c89e7c;
  border: 2px solid #696868;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 130px;
  height: 130px; 
  box-sizing: border-box; 
}

.goblin {
  width: 95%; 
  height: 95%; 
  object-fit: contain; 
}
